#puzzle-board {
  margin: 50px;
  width: 405px;
  height: 405px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid rgb(14, 9, 60);
  border-radius: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(20, 13, 86);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
  background-color: rgba(59, 136, 188, 0.724);
  color: rgb(14, 9, 60);
  font-family: Arial, Helvetica, sans-serif;
}

.empty {
  background-color: rgb(240, 253, 255);
}

.marg {
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}